<!--The content below is only a placeholder and can be replaced.-->
 <app-navbar></app-navbar>
 <app-searchbar></app-searchbar>
 <div style=" margin-left:300px; padding-top:30px">
       <span style="display: flex;flex-direction: row; width: 90%">
              <app-buidling></app-buidling>
              <app-monitoring ></app-monitoring>
       </span>
       <span style="display:flex; flex-direction: row; width:90%">
                     <app-account></app-account>
                     <app-activity></app-activity>
                     <app-archives></app-archives>
       </span>
        
 </div>
 <router-outlet></router-outlet>
